<h2 id='comparison'>Comparison</h2>
<table>
  <thead>
    <tr>
      <td>&nbsp;</td>
{%- for target in matrix.head %}
      <td>{{ target }}</td>
{%- endfor %}
    </tr>
  </thead>
  <tbody>
{%- for key_id, key_name, values in matrix.rows %}
    <tr>
      <td><a href='https://chrome.google.com/webstore/detail/{{ key_id }}'>{{ key_name }}</a></td>
  {%- for id, name, similarity in values %}
       <td>
    {%- if key_id != id and similarity %}
          <a href="#detail-{{ key_id }}-{{ id }}">
            {{ similarity }}
          </a>
    {%- else %}
          {{ similarity }}
    {%- endif %}
       </td>
  {%- endfor %}
    </tr>
{%- endfor %}
  </tbody>
</table>

<h2 id='details'>Details</h2>
<div>
{%- for source, target in details %}
  <h3 id="detail-{{ source['id'] }}-{{ target['id'] }}">{{ source['name'] }} vs. {{ target['name'] }} - {{ target['similarity'] }}</h3>

  <table>
    <thead>
      <tr>
        <td>Feature Type</td>
        <td>Feature Name</td>
      </tr>
    </thead>
    <tbody>
      {%- for feature in source['features'] %}
        {%- if feature in target['features'] %}
      <tr>
        <td>{{ feature[0] }}</td>
        <td>{{ feature[1] }}</td>
      </tr>
      {%- endif %}
    {%- endfor %}
    </tbody>
  </table>
{%- endfor %}
</div>